        <FormLabel component="legend"><%= element.label %></FormLabel>
          <RadioGroup
            aria-label="<%= element.label %>"
            name="<%= element.id %>"
            className={classes.group}
            value={values.<%= element.id %>}
            onChange={handleChange}
          >
<% element.options.forEach( option => {-%>
            <FormControlLabel value="<%=option.value%>" control={<Radio />} label="<%=option.label%>" />
<% }) -%>
          </RadioGroup>
