        <InputLabel htmlFor="<%=element.id%>"><%= element.label %></InputLabel>
          <Select
            value={values.<%=element.id%>}
            onChange={handleChange}
            inputProps={{
              name: "<%=element.id%>",
              id: "<%=element.id%>"
            }}>
<% element.options.forEach( option => {-%>
            <MenuItem value="<%=option.value%>"><%=option.label%></MenuItem>
<% }) -%>
          </Select>
