      <FormControlLabel
          control={
            <CheckBox
              checked={values.<%= element.id%>}
              onChange={() => setValues({...values, <%= element.id %>:!values.<%= element.id %>})}
              value="<%= element.id%>"
              color="primary"
            />
          }
          label="<%= element.label%>"
        />