        <TextField
            id="<%=element.id%>"
            name="<%=element.id%>"
            className={clsx(classes.margin, classes.textField)}
            variant="filled"
            type={values.show<%=element.id%> ? 'text' : 'password'}
            label="<%=element.label%>"
            value={values.<%=element.id%>}
            onChange={handleChange}
            InputProps={{
              endAdornment: (
                <InputAdornment position="end">
                  <IconButton
                    edge="end"
                    aria-label="Toggle password visibility"
                    onClick={() =>
                      setValues({
                        ...values,
                        show<%=element.id%>: !values.show<%=element.id%>
                      })}
                  >
                    {values.show<%=element.id%> ? <VisibilityOff /> : <Visibility />}
                  </IconButton>
                </InputAdornment>
              ),
            }}
          />