import { createMuiTheme, makeStyles } from "@material-ui/core/styles";
import { ThemeProvider } from "@material-ui/styles";
import FormControl from '@material-ui/core/FormControl';
import FormHelperText from '@material-ui/core/FormHelperText'
import FormControlLabel from '@material-ui/core/FormControlLabel';
import FormLabel from '@material-ui/core/FormLabel'
import InputLabel from '@material-ui/core/InputLabel';
import clsx from 'clsx'

const theme = createMuiTheme({
  direction: "rtl"
});
const useStyles = makeStyles(theme => ({
  root: {
    display: "flex",
    flexWrap: "wrap",
    flexDirection: "column",
    margin: theme.spacing(20),
    marginLeft: theme.spacing(70),
    marginRight: theme.spacing(70)
  },
  formControl: {
    minWidth: 120,
    marginTop: theme.spacing(2)
  },
  selectEmpty: {
    marginBottom: theme.spacing(2)
  }
}));

function Form() {
  const [values, setValues] = React.useState({
    <% items.forEach(element => { -%><%= element.id %> : <% 
      if("default" in element) {%><%  
        if(typeof element.default === "string"){%>"<%= element.default %>", <% }
        else {%><%- element.default %>,<% }}%>
    <%}) %>
  });

  <% items.forEach(element => {%>
  <% if(fs.existsSync(`./components/${element.type}/states.ejs`)) { %>
   <%- include(`./components/${element.type}/states.ejs`, {element}) %>
  <% }}) %>
  

  const classes = useStyles();

  function handleChange(event) {
    event.persist()
    setValues(oldValues => ({
      ...oldValues,
      [event.target.name]: event.target.value
    }));
  }

  return (
    <ThemeProvider theme={theme}>
      <form className={classes.root}>
<% items.forEach(element => {-%> 
        <FormControl className={classes.formControl}>
  <%- include('./components/'+element.type+'/jsx.ejs',{element: element}); _%>
  <% if("helper" in element){ _%>
  <FormHelperText id="<%= element.helper %>">
            <%= element.helper %>
          </FormHelperText>
          <%}%>
        </FormControl>
        
<% }) -%> 
      </form>
    </ThemeProvider>
  );
}

export default Form;

